//Fontes:
$fontePrincipal: Roboto, sans-serif;

//Esquema de cores:
$corPrincipal: rgb(229, 255, 0);
$corContainer: aquamarine;
$corBotão: rgb(16, 164, 114);
$corHover:rgb(124, 199, 174);

//Breakpoints:
$phone: 767px;